@{
    ViewData["Title"] = "Welcome To Destination Places";
}
<h1>@ViewData["Title"]</h1>

<p>This site provides you list of places to visit in india.</p>
<li>
<ul>Kerala- Munnar,Wayanad,Kochi</ul>
<ul>Karnataka - Coorg, Mysore, Hampi</ul>
<ul>Tamilnadu - Chennai, Kodaikanal, Kanchipuram</ul>
<ul>Telangana - Hyderabad, Kuntala falls, Anantagiri hills</ul>
</li>